.selectContainer {
  width: 400px;
  position: relative;
  .selectedBoxContainer {
    width: 100%;
    border: 2px solid #c7d0d6;
    border-radius: 0.7rem;
    padding: 1.9rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .selectedText {
      color: #2a323f;
      font-size: 1.5rem;
    }
    .multiSelectedOption {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      .option {
        border: 1px solid #c7d0d6;
        border-radius: 0.7rem;
        font-size: 1.5rem;
        padding: 0.5rem 0.75rem;
        background-color: #E6E6E6;
        color: #2a323f;
        img {
          width: 9px;
          height: 9px;
          margin-left: 1.25rem;
        }
      }
    }
    .chevron {
      width: 14px;
    }
    .oppositeChevron {
      rotate: 180deg;
    }
  }
  .optionsOuterContainer {
    width: 100%;
    border: 2px solid #c7d0d6;
    border-radius: 0.7rem;
    height: 275px;
    overflow-y: auto;
    padding: 0.25rem 1rem;
    background-color: #fff;
    margin-top: 0.35rem;
    position: absolute;
    left: 0;
    z-index: 9999;
    ul {
      list-style: none;
      .list {
        padding: 0.75rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
          border-bottom: 1px solid #e0e7ec;
        }
        .optionName {
          font-size: 1.5rem;
          color: #2a323f;
        }
        .checkbox {
          height: 18px;
          width: 18px;
          border: 1px solid #c7d0d6;
          border-radius: 50%;
          display: grid;
          place-content: center;
        }
        // .hoveredCheckbox {
        //   &::before {
        //     content: "";
        //     width: 9px;
        //     height: 9px;
        //     clip-path: polygon( 14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62% );
        //     transform: scale(1);
        //     transform-origin: bottom left;
        //     transition: 120ms transform ease-in-out;
        //     background-color: #c7d0d6;
        //   }
        // }
        // .checked {
        //   width: 18px;
        //   height: 18px;
        //   border: 0;
        //   border-radius: 50%;
        //   background-color: #febc70;
        //   display: grid;
        //   place-content: center;
        //   &::before {
        //     content: "";
        //     width: 9px;
        //     height: 9px;
        //     clip-path: polygon( 14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62% );
        //     transform: scale(1);
        //     transform-origin: bottom left;
        //     transition: 120ms transform ease-in-out;
        //     background-color: #fff;
        //   }
        // }
      }
      .activeList {
        .checkbox {
          background-color: #febc70;
          border: 0;
          &::before {
            content: "";
            width: 9px;
            height: 9px;
            clip-path: polygon( 14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62% );
            transform: scale(1);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            background-color: #fff;
        }
        }
      }
      .hoveredList {
        .checkbox {
          &::before {
            content: "";
            width: 9px;
            height: 9px;
            clip-path: polygon( 14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62% );
            transform: scale(1);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            background-color: #c7d0d6;
          }
        }
      }
    }
  }
}
